.product-container {
  a {
    text-decoration: none;

    .product-box {
      text-align: center;

      .label-product {
        .old-price {
          text-decoration: line-through;
          padding-right: 5px;
        }
      }
    }
  }
}
