.pagination {
  margin-top: 20px;
  justify-content: center;

  .page-item {
    .page-link {
      background-color: #F5C10C;
      border-color: #F5C10C;
      color: #000;
    }

    &.active .page-link {
      background-color: #808080;
      border-color: #808080;
      color: #FFF;
    }
  }

}
