@import '../../../styles/settings.scss';

.pagination {
  margin-top: 20px;
  justify-content: center;

  .page-item {
    .page-link {
      background-color: $text-color-orange;
      border-color:$text-color-orange;
      color: #000;
    }

    &.active .page-link {
      background-color: $text-color-grey;
      border-color: $text-color-grey;
      color: #FFF;
    }
  }

}
