.single-product-container {
  text-align: center;
  padding: 10px 0;

  .image {
    max-width:250px;
    height:auto;
    margin-bottom: 10px;
  }

  .title {
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 5px;
  }

  .old-price {
    text-decoration: line-through;
  }

  .price {
    font-weight: bold;
  }

  button {
    margin-bottom: 15px;
  }
}
