@import '../../../styles/settings.scss';

.button {
  background: transparent;
  border: 1px solid;
  color: $color-text-light;
  text-align: center;
  line-height: 1.3;
  padding: $base-size/2 $base-size;
  margin: 1px;
  border-radius: $radius;
  opacity: 0.9;
  transition: $transition;

  &--primary {
    color: $color-text-button-primary;
  }

  &--info {
    color: $color-info;
  }

  &--danger {
    color: $color-danger;
  }

  &:hover {
    box-shadow: -5px -5px 20px rgba(0,0,0,0.1);
    opacity: 1;
  }
}
